.Form {
    height: 100vh;
}

.Form .parentForm {
    position: relative;
    text-align: center;
    padding: 3rem 2rem;
    background-color: #1c1c1c;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    box-shadow: 1px 1px 10px #999 inset;
    overflow: hidden;
    
}
.FormChild {
    padding:.2rem;
}
.Form .parentForm .text {
    color: white;
    margin: 2rem 0;
}

.Form .parentForm .text a {
    color: var(--main-Color);
}
@media (max-width:500px){
    .Form .parentForm .text p , .Form .parentForm .text a{
        font-size: .5rem;
    }
}
.Form .parentForm .inputBox {
    border-bottom: 1px solid #d6d2d2;
    margin: 1.5rem 0;
    background-color: transparent;
    align-items: baseline;
    font-size: 1.1rem;
    padding: 0 1rem;
}

.Form .parentForm .inputBox input {
    width: 100%;
    position: relative;
    padding: .5rem .2rem;
    border: none;
    color: #000;
}

.Form .parentForm .inputBox input::selection {
    border: 1px solid green;
}

.Form .parentForm .inputBox input::placeholder {
    color: var(--main-Color);
    font-size: 1.1rem;
}

.Form .parentForm .inputBox input:focus {
    outline: none;
}

.Form .parentForm .inputBox {
    background-color: #fff;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    color: black;

}

.Form .parentForm .btn {
    background-color: var(--main-Color);
    color: #fff;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.Form .parentForm .btn:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}
/* 
.Form .parentForm::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -50px;
    left: -50px;
    z-index: 1;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
} */